<button (click)="refresh()">Refresh</button>

<div class="page">
  <div class="column left song-list">
    @for (song of currentAndFutureSongs | async; track $index) {
      <div class="song-list-entry">
        <app-song [song]="song"></app-song>
      </div>
    }
  </div>

  <div class="middle-button">
    <button (click)="getRecommendations()"> ==== Recommend! ===> </button>
  </div>
  
  <div class="column right song-list">
    @for (recommendation of recommendations | async; track $index) {
      <div class="song-list-entry">
        <app-song [song]="recommendation"></app-song>
        <app-add-to-queue [song]="recommendation"></app-add-to-queue>
      </div>
    } @empty {
      <div class="empty">
        * chirp *
      </div>
    }
  </div>
  
</div>
