<button (click)="refresh()">Refresh</button>

<div class="page">
  <div class="column left song-list"
       cdkDropList
       (cdkDropListDropped)="drop($event)"
       [cdkDropListSortPredicate]="createSortPredicate()"
  >
    @for (entry of currentAndFutureSongs | async; track entry.id) {
        @if (entry | hasField: 'marker') {
          @if (entry; as marker) {
            <div class="separator"
                 cdkDrag
                 [cdkDragData]="marker.marker"
            >
              <div class="separator-handle draggable" cdkDragHandle>
                <div style="text-align: center; line-height: 30px;">{{ marker.marker === 'top' ? 'vvvv' : '^^^^' }}</div>
              </div>
            </div>
          }
        } @else {
          @if (entry; as song) {
            <div class="song-list-entry">
              @if (intervalInside | async; as intervalInside) {
                @if (currentlyPlaying | async; as currentlyPlaying) {
                  <app-song [song]="song"
                            [enabled]="intervalInside.top <= $index && $index <= intervalInside.bottom"
                            [playing]="song.id === currentlyPlaying.song?.id"
                            cdkDrag
                            cdkDragDisabled
                  />
                }
              }
            </div>
          }
        }
    }
  </div>

  <div class="middle-button">
    <button (click)="getRecommendations()"> ==== Recommend! ===> </button>
  </div>
  
  <div class="column right song-list">
    @for (recommendation of recommendations | async; track recommendation.id) {
      <div class="song-list-entry">
        <app-song [song]="recommendation"></app-song>
        <app-add-to-queue [song]="recommendation"></app-add-to-queue>
      </div>
    } @empty {
      <div class="empty">
        * chirp *
      </div>
    }
  </div>
  
</div>
