
.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  background-color: #121212;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

  height: 90vh;

  overflow-y: scroll;
}

.left { width: 30vw; }

.right { width: 35vw; }

.song-list .song-list-entry {
  margin-top: 10px;
  margin-bottom: 10px;
}

.song-list-entry {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  app-song {
    width: 100%;
  }

  app-add-to-queue {
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.separator {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  margin-left: 5%;
  margin-right: 5%;

  height: 2px;
  width: 90%;

  background-color: #bbbbbb;
}

.separator-handle {
  position: absolute;
  left: 50%; right: 0; top: 50%; bottom: 0;
  transform: translate(-50%, -50%);

  height: 30px;
  width: 40%;
  
  background-color: #1DB954;
}

.middle-button {
  align-content: center;
}

.empty {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.draggable {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}