.container {
  display: block;
  width: 100%;
}

.song {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.album-art {
  margin-right: 15px;
  img {
    border-radius: 5px;
    
    // force aspect ratio
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.song-title {
  font-size: medium;
  text-overflow: ellipsis;
  margin: 0;
}

.song-artists {
  font-size: small;
  text-overflow: ellipsis;
  color: #a4a4a4;
  margin: 0;
  margin-top: 5px;
}

.disabled {
  filter: brightness(0.42);
  text-decoration: line-through;
}